{% load static %}
<html>
  <head>
    <meta name="description" content="Hello this is my first web page!." />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'assets/src/styles.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/login/style/style.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <title>Netflix NG - Watch TV Shows Online, Watch Movies Online</title>
    <link rel="icon" href="http://pngimg.com/uploads/netflix/small/netflix_PNG15.png">
  </head>
  <body>
    <header>
      <nav class="navbar">
        <div class="navbar__brand">
          <img
            src="https://www.freepnglogos.com/uploads/netflix-logo-0.png"
            alt="logo"
            class="brand__logo"
          />
        </div>

        <div class="navbar__nav__items">
          <div class="nav__item">
            <div class="dropdown__container">
              <i class="fas fa-globe"></i>
              <select
                name="languages"
                id="languagesSelect"
                class="language__drop__down"
              >
                <option style=" color: black; " value="english" selected>English</option>
                <option  style=" color: black; "value="hindi">Afrikaan</option>
                <option  style=" color: black; "value="hindi">Korean</option>
                <option  style=" color: black; "value="hindi">French</option>
                <option  style="    color: black; "value="hindi">Spanish</option>
                <option  style=" color: black; "value="hindi">Chinnese</option>
              </select>
            </div>
          </div>
          {% if not request.user.is_authenticated %}
          <div class="nav__item">
            <a href="{% url 'account_login' %}" class="signin__button">Sign in</a>
          </div>
          {% else %}
          <div>
              <a class="signin__button" href="{% url 'account_logout' %}">Logout</a>
          </div>
          {% endif %}
        </div>
      </nav>
    </header>



    {% block content %}
    {% endblock content %}


    <footer>
      <div class="footer__row__1">
        <h4>Questions? Call 000-800-040-1843</h4>
      </div>
      <div class="footer__row__2">
        <div class="column__1">
          <p>FAQ</p>
          <p>Investor Relations</p>
          <p>Privacy</p>
          <p>Speed Test</p>
        </div>
        <div class="column__2">
          <p>Help Centre</p>
          <p>Jobs</p>
          <p>Cookie Preferences</p>
          <p>Legal Notices</p>
        </div>
        <div class="column__3">
          <p>Account</p>
          <p>Ways to Watch</p>
          <p>Corporate Information</p>
          <p>Only on Netflix</p>
        </div>
        <div class="column__4">
          <p>Media Centre</p>
          <p>Terms of Use</p>
          <p>Contact Us</p>
        </div>
      </div>
      <div class="footer__row__3">
        <div class="dropdown__container">
          <i class="fas fa-globe"></i>
          <select
            name="languages"
            id="languagesSelect"
            class="language__drop__down"
          >
            <option value="english" selected>English</option>
          </select>
        </div>
      </div>
      <div class="footer__row__4">
        <p>Netflix NG</p>
      </div>
    </footer>

    <script src="{% static 'assets/src/index.js' %}"></script>
  </body>
</html>

</html>